<!DOCTYPE html>

<html lang="en">
    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Moderate | Queering the Map</title>

    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    </head>

<body>

<div class="row">
    <div class="col-lg-3"></div>
    <div id="pagination-controls-top" class="col-lg-6 text-center">

    <div class="pagination">
        <span class="step-links">
            {% if unmoderated_posts.has_previous %}
                <a href="?page=1"><button class="btn-primary">&laquo; First Page</button></a>
                <a href="?page={{ unmoderated_posts.previous_page_number }}"><button class="btn-info">Previous Page</button></a>
            {% endif %}

            {% if unmoderated_posts.paginator %}
            <span class="current">
                <b>Page {{ unmoderated_posts.number }} of {{ unmoderated_posts.paginator.num_pages }}</b>
            </span>
            {% endif %}

            {% if unmoderated_posts.has_next %}
                <a href="?page={{ unmoderated_posts.next_page_number }}"><button class="btn-info">Next Page</button></a>
                <a href="?page={{ unmoderated_posts.paginator.num_pages }}"><button class="btn-primary">Last Page &raquo;</button></a>
            {% endif %}
        </span>
    </div>

    </div> <!-- div#pagination-controls-top -->
    <div class="col-lg-3"></div>
</div> <!-- div.row -->

<div class="row text-center">
<div class="col-md-6 col-md-offset-3">
{% for post in unmoderated_posts %}
    <hr>
    <h3>Submission #{{ post.id }}</h3>

    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-3">
            <button id="hide-{{ post.id }}" class="hide-pin btn-warning">Hide this Pin</button>
        </div>
        <div class="col-md-2"> </div>
        <div class="col-md-3">
            <button id="show-{{ post.id }}" class="show-pin btn-success">Approve this Pin</button>
        </div>
        <div class="col-md-2"> </div>
    </div>

    <blockquote><p>&ldquo;{{ post.description }}&rdquo;</p></blockquote>

    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ post.latitude }},{{ post.longitude }}&markers={{ post.latitude }},{{ post.longitude }}&zoom=14&size=400x400&key=AIzaSyDt5rrB4n5IL5V9WUCPb6Z6494Dzt7pT0I">

    {% if forloop.last %}
    <hr>
    {% endif %}

{% endfor %}
</div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div id="pagination-controls-bottom" class="col-lg-6 text-center">

    <div class="pagination">
        <span class="step-links">
            {% if unmoderated_posts.has_previous %}
                <a href="?page=1"><button class="btn-primary">&laquo; First Page</button></a>
                <a href="?page={{ unmoderated_posts.previous_page_number }}"><button class="btn-info">Previous Page</button></a>
            {% endif %}

            {% if unmoderated_posts.paginator %}
            <span class="current">
                <b>Page {{ unmoderated_posts.number }} of {{ unmoderated_posts.paginator.num_pages }}</b>
            </span>
            {% endif %}

            {% if unmoderated_posts.has_next %}
                <a href="?page={{ unmoderated_posts.next_page_number }}"><button class="btn-info">Next Page</button></a>
                <a href="?page={{ unmoderated_posts.paginator.num_pages }}"><button class="btn-primary">Last Page &raquo;</button></a>
            {% endif %}
        </span>
    </div>

    </div> <!-- div#pagination-controls-bottom -->
    <div class="col-lg-3"></div>
</div> <!-- div.row -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript">

// CSRF Cookie for AJAX requests: https://docs.djangoproject.com/en/2.0/ref/csrf/#ajax
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$('.hide-pin').click(function() {
  var hidePinButton = $(this);
  var thisPinId = $(this).attr('id').slice(5);
  $.post('{% url "moderate" %}', {
    "moderator_action": "hide",
    "pin_post_id": thisPinId
  }).done(function(data) {
    if ($.trim(data) == 'Success') {
      hidePinButton.removeClass('hide-pin');
      hidePinButton.removeClass('btn-warning');
      hidePinButton.addClass('btn-success');
      hidePinButton.html('&#10004; Hidden');
    } else {
        console.log(data);
      hidePinButton.removeClass('btn-warning');
      hidePinButton.addClass('btn-danger');
      hidePinButton.text('Error: Could not hide');
    }
  });
});

$('.show-pin').click(function() {
  var showPinButton = $(this);
  var thisPinId = $(this).attr('id').slice(5);
  $.post('{% url "moderate" %}', {
    "moderator_action": "show",
    "pin_post_id": thisPinId
  }).done(function(data) {
    if ($.trim(data) == 'Success') {
      showPinButton.removeClass('show-pin');
      showPinButton.html('&#10004; Approved');
    } else {
        console.log(data);
      showPinButton.removeClass('btn-success');
      showPinButton.addClass('btn-danger');
      showPinButton.text('Error: Could not approve');
    }
  });
});

</script>

</body>
</html>